In [ ]:
- Lambda function 

    -Lambda function is a function
    
    - It is a kind of single line function

    - We already seen list comphersion which means single line

    - lambda functions give a flexibility to stop many lines on 
   
    - on iterative execution, it will save the timing.

In [1]:
add = lambda n1 : n1 * n1
add(10)

100

In [2]:
add = lambda n1, n2 : n1 + n2
add(10,20)

30

In [3]:
avg = lambda n1, n2, n3 : round((n1+n2+n3)/3, 2)

avg(10, 21, 22)

17.67

In [ ]:
Default arguments:

In [4]:
def avg(n1, n2, n3=100):
    return round((n1+n2+n3)/3,2)

avg(10,20)

43.33

In [5]:
avg = lambda n1, n2, n3=100 : round((n1+n2+n3)/3)
avg(10, 20)

43

$Pattern-4$

In [8]:
def greet(n1):
    if n1 > 10:
        return 'hello'

greet(20)

'hello'

In [ ]:
greet = lambda

In [ ]:
In the list comphrenshion, 
#[<if_output> <for_loop> <if_condition>]

#No for loop

#<fun_name> = lambda <arg1> : <if_out> <if_condition>

In [12]:
greet = lambda n1 : 'hello' if n1>10 else 'bye'

greet(5)

'bye'

In [13]:
#WAP lambda function to identify the greatest number between two numbers

max_number = lambda n1, n2 : n1 if n1>n2 else n2
max_number(15,20)

20

In [ ]:
Pattern-5 : using list

- What is the variable name --> i

- What is the return output --> i.capitalize()

- from where it is coming -->list1


lambda <variable_name> : <output>, <iterator>

Strings are iterables

Lists are iterables

We can iterate using for loop

In [14]:
list1 = ['hyderabad', 'bangalore', 'chennai', 'kolkatha']
#op = list2 = ['Hyderabad', 'Bangalore', 'Chennai', 'Kolkatha']
list2=[]
for i in list1:
    list2.append(i.title())
print(list2)

lambda i : i.capitalize(), list1

['Hyderabad', 'Bangalore', 'Chennai', 'Kolkatha']

In [ ]:
maxx=lambda n1,n2: f"{n2} is greater" if n2>n1 else f"{n1} is greater"
maxx(10,20)

In [ ]:
'hi how are you' ==== > 'Hi How Are You'  --> Title
                ===== > 'Hi how are you'  ---> Captilize
                ====== > 'HI HOW ARE YOU' ---> Upper
                ====== > 'hi how are you' ---> Lower
                ====== > '***hi how are you**' --> Center

In [17]:
list1 = ['hyderabad', 'bangalore', 'chennai', 'kolkatha']
list(map(lambda i : i.upper(), list1))

['HYDERABAD', 'BANGALORE', 'CHENNAI', 'KOLKATHA']

In [ ]:
#step-1 : Create a lambda function
#   : lambda <arg> : <output>

#step-2 : add the iterable
#      : lambda <arg> : <output>, <list>

#step-3 : map the both function and list
#        : map(lambda <i> : <output>, <list>)

#step-4 : Save the result in a tuple or list
#   list(map(lambda <i> : <output>, <list>))

In [ ]:
lambda i : i.capitalize() #fish
lambda i : i.capitalize(), list1 #net
map(lambda i : i.capitalize(), list1) #fish, net
list(map(lambda i : i.capitalize(), list1)) #catch the fish

In [20]:
list1 = ['hyd', 'blr', 'che#nnai', 'mum#bai']
#list2 = ['che#nnai', 'mum#bai]

for i in list1:
    if '#' in i:
        list2.append(i)

print(list2)
        

list(filter(lambda i : '#' in i, list1))

['Hyderabad', 'Bangalore', 'Chennai', 'Kolkatha', 'che#nnai', 'mum#bai', 'che#nnai', 'mum#bai']

['che#nnai', 'mum#bai']

In [ ]:
list1 =